.app-layout {
  min-height: 100vh;
  background-color: var(--color-canvas);
  color: var(--color-text);
}

.app-layout__content {
  width: 100%;
  padding: 124px 0.375rem 0;
}

@media (min-width: 768px) {
  .app-layout__content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
